<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Autor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Autor</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true" style="width: 100%; margin-left: 5rem;">
  <ion-text color="primary" >
    <h2 style="margin-top: 5rem;color:white;text-align: center;"><h1 style="color: crimson;">Nombre:</h1>Santiago Alulema</h2>
    <h2 style="margin-top: 1rem;color:white;text-align: center;"><h1 style="color: crimson;">Materia:</h1>  Aplicaciones Moviles</h2>
  </ion-text>
</ion-content>
  
</ion-content>
